nav {
    position: fixed !important;
    width: 100%;
    z-index: 1;
    border: 1px solid #c6c6c6;
    background-color: #ffffff;

    .navbar-toggler {
        border: 0;

        &:focus {
            box-shadow: none;
        }
    }

    .nav-link {
        color: #000;

        &.active {
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}