.card {
    border-radius: 0;

    img {
        object-fit: contain;
    }

    .description {
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .old-price {
        text-decoration: line-through;
    }

    .btn {
        border-radius: 0;
        background-color: #fff;
        color: #000;
        border-color: #c6c6c6;
    }
}